player-connection-mode=Listen
player-connection-guid=633342088
player-connection-debug=1
player-connection-project-name=Curses!
player-connection-ip=26.55.75.240
player-connection-ip=192.168.1.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=70b55c351c26431aab2a5bcfc2c20625
